<nav class="navbar navbar-light bg-light">
  <div>
    <a class="navbar-brand" href="#">
      <img [src]="myImg" alt="" width="30" height="24">
    </a>
  </div>  
  <a class="navbar-brand">Navbar</a>
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/users">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/posts">Posts</a>
    </li>
  </ul>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button type="button" class="btn btn-danger" routerLink="/register">Registration</button>
    <button type="button" class="btn btn-success" routerLink="/login">Login</button>
</nav>
<br>

