<form class="row g-3">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">User Name</label>
        <input type="text" class="form-control" id="inputEmail4">
      </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="inputPassword4">
    </div>
    <br><br><br><br>
    <div class="col-md-6">
        <label>Social Media : </label> &nbsp;
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Choose Social Way
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">FaceBook</a></li>
          <li><a class="dropdown-item" href="#">Twitter</a></li>
          <li><a class="dropdown-item" href="#">Instagram</a></li>
        </ul>
    </div>
    <br><br>
    <div class="col-12">
      <button type="submit" class="btn btn-lg btn-danger" style="margin-left: 600px;">Registration</button>
    </div>
  </form>
